@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$poppins: "Poppins", "sans-serif";

$green: #4dc66f;
$gray: #5f5c5c;
$black: #000000;
$light-green: hsla(137, 51%, 54%, 0.428);