@import "./variables";

.daily-wrapper {
  text-align: center;
  padding: 0px 0px 50px;
  .daily-target-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .daily-target-chart {
      text-align: center;
      width: 392px;
      height: 253px;
      background-color: $gray;
    }
  }
}
