@import "./variables";

.home {
  .home-content {
    display: flex;
    padding: 70px;

    .home-left {
      width: 50%;

      .home-left-tile {
        font-size: 3em;
        width: 362px;
      }
      .home-left-text {
        font-size: 1em;
        width: 362px;
      }
    }
    .home-right {
      width: 719px;
    }
  }
  .home-btn-container {
    text-align: center;
    padding-bottom: 60px;
  }
}
