* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.signin--form {
  display:flex;
 justify-content: center;
 width: 50%;
 margin: auto;
 margin-bottom: 100px;
  
  
}

label {
 margin: auto;
}

input[type=email], input[type=password] {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  margin: 20px;
  background: #D9D9D9;
  border: 0px;
}

input[type=submit]{
 margin-left: 50%;
}